@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here


:root {
  --primary-color: #7f6e9b;
  --white-color: #ffffff;

  --light-text-color: #9398b3;
  --light-bg-color: #f2f4ff;
  --dark-color: #333333;

  --background-color: #fcfcff;
}

* {
  margin: 0;
  padding: 0;
}

*,
::before::after {
  box-sizing: border-box;
}

body {
  margin-top: 30px;
   font-family: 'Noto Sans TC',sans-serif !important;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--dark-color);
  background-color: var(--background-color);
  user-select: none;
  -webkit-user-drag: none;
}

a {
  text-decoration: none;
  color: inherit;
  -webkit-tap-highlight-color: transparent;
}

ul {
  list-style: none;
}

h1 {
  font-size: 3em;
  font-weight: 700;
  line-height: normal;
  color: black;
}

.site {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  max-width: 1000px;
  width: 100%;
  padding: 0 30px;
  margin: 0 auto;
}

.login {
  display: flex;
  flex-wrap: wrap;
}

.hero {
  flex: 1 0 66.6666%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 70px 0;
}

.hero::before {
  content: "";
  position: absolute;
  top: 15%;
  left: 0;
  width: 280px;
  height: 100px;
  background: linear-gradient(to right, var(--primary-color), #c471ed, #f64f59);
  z-index: -1;
  filter: blur(70px);
}

.hero a {
  font-weight: 500;
  color: var(--primary-color);
  transition: color 0.3s;
}

.hero a:hover,
form .password a:hover {
  color: var(--dark-color);
  text-decoration: underline;
}

.main {
  flex: 1 0 33.3333%;
}

.main form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.main form p {
  position: relative;
}

form input {
  font: inherit;
  font-size: 14px;
  width: 100%;
  border: 0;
  outline: 0;
  padding: 0 20px;
  line-height: 60px;
  border-radius: 10px;
  box-sizing: border-box;
}

input::placeholder {
  color: var(--dark-color);
  font-family: "Noto Sans SC", sans-serif;
  font-size: inherit;
}

form input:not(.submit) {
  background-color: var(--light-bg-color);
}

form .password i {
  position: absolute;
  top: calc(145px / 2);
  right: 20px;
  margin-top: -8px;
  line-height: 1;
  color: var(--light-text-color);
  cursor: pointer;
}

form .password a {
  font-size: 13px;
  color: var(--light-text-color);
  float: right;
  margin: 5px 20px 0 0;
}

form input.submit {
  font-weight: 700;
  color: var(--white-color);
  background-color: var(--primary-color);
  box-shadow: var(--primary-color) 0 20px 30px -10px;
  cursor: pointer;
  transition: box-shadow 0.3s;
}

form input.submit:hover {
  box-shadow: var(--primary-color) 0 10px 30px -10px;
}

.separator {
  position: relative;
  margin: 50px 0 30px;
}

.separator::before {
  content: "";
  position: absolute;
  top: 50%;
  width: 100%;
  height: 1px;
  background-color: var(--light-text-color);
  opacity: 0.3;
  z-index: 1;
}

.separator p {
  font-size: 14px;
  width: fit-content;
  padding: 0 10px;
  color: var(--light-text-color);
  background-color: var(--background-color);
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.options ul {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.options ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  background-color: var(--white-color);
  box-shadow: var(--light-text-color) 0 10px 20px -10px;
  transition: all 0.3s ease-out;
}

.options ul li a:hover {
  color: var(--white-color);
  box-shadow: none;
}

.options ul li:nth-child(1) a:hover {
  background-color: #171a21;
}

.options ul li:nth-child(2) a:hover {
  background-color: #00439c;
}

.options ul li:nth-child(3) a:hover {
  background-color: #107c10;
}

a i {
  font-size: 28px;
}

@media only screen and (max-width: 767px) {
  .hero h1 {
    font-size: 2rem;
  }

  .hero p {
    font-size: 1.5m;
  }
}


.loginpage, .registerpage{
    h1{
        font-size: 2rem;
        text-align: center;
        color:var(--primary-color);
    }

    .label-title{
        margin-bottom: 10px;
        font-size: 1.3rem;
    }
}

//***以下是首頁的CSS

.navbar-nav .nav-link {
  position: relative;
  transition: color 0.3s ease;
}

.navbar-nav .nav-link::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #7f6e9b;
  transition: width 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: 		#6A5ACD;
}

.navbar-nav .nav-link:hover::before {
  width: 100%;
}

.navbar {
  background: transparent !important; 
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 24px;
  padding: 0;
}

.navbar-brand {
  font-size: 24px;
}

.navbar-nav .dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

.navbar {
  background: transparent !important;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 16px;
  padding: 10;
}

.navbar-nav .dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.6em solid transparent;
  border-bottom: 0;
  border-left: 0.6em solid transparent;
  /* Custom SVG chevron for the dropdown toggle */
}

.navbar-nav .nav-link {
  position: relative; 
  font-weight: bold; 
}

.navbar-nav .nav-link::before {
  content: ""; 
  position: absolute;
  bottom: 0; 
  left: 0; 
  width: 70%; 
  height:4px; /* Setting the thickness of the underline */
  background: linear-gradient(
    to right,
    #7f6e9b,
    #c9b7c7,
    #f7e0b4
  ); 
  transform: scaleX(0); 
  transform-origin: left; 
  transition: transform 0.3s ease; 
}

.navbar-nav .nav-link:hover::before {
  transform: scaleX(1); 
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 3rem !important;
  padding-left: 3rem !important;
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

@media (max-width: 600px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 0 !important;
  }
}


//***以上是首頁的CSS